<div *ngIf="showMsg">
  <p *ngFor="let msg of messages">
    {{msg}}
  </p>
</div>

<div *ngIf="customer">
  <form #customerForm="ngForm">
    <input type="text" name="email"     id="email"    placeholder="Email"     [(ngModel)]="customer.email"/><br/>
    <input type="text" name="name"      id="name"     placeholder="Name"      [(ngModel)]="customer.name"/><br/>
    <input type="text" name="address"   id="address"  placeholder="Address"   [(ngModel)]="customer.address"/><br/>
    <input type="text" name="phone"     id="phone"    placeholder="phone"     [(ngModel)]="customer.phone"/><br/>
    <input type="text" name="token"     id="token"    placeholder="Token"     [(ngModel)]="customer.token"/><br/>

    <select [(ngModel)]="customer.enable" name="enable">
      <option *ngFor="let enable of enables" [value]="enable.id">
        {{enable.name}}
      </option>
    </select><br/>

    <button (click)="update()">
      Update
    </button>
    <button (click)="delete()">
      Delete
    </button>
    <button routerLink="/customer-list">
      Cancel
    </button>

  </form>
</div>
